#main-menu{
	background-color: #006d82;
}
#main-menu a{
	color: #fff;
	
}
#main-menu .nav-link{
	font-weight: bold;
}
#main-menu.navbar {
	margin-left: 0;
	margin-right: 0;
}
#main-menu li .active {
	border-bottom: 1px solid #fff;
}


.home .card{
	box-shadow: 1px 1px 3px #3D3D3C;
	border: 1px solid #ccc;
}

.home .card .card-img-top{
	height: 250px;
	object-fit: cover;
}

.alert-empty{
	color: #198754;
}
.alert-space{
	color: #3d3d3c;
}
.alert-accent{
	color: #d60550;
}
.alert-not-exist-file{
	color: #17a2b8;
}
.alert-incorrect-url{
	color: #e28700;
}